<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="https://i.ibb.co/D8Ngn7c/icon.png">

  <title>Project Management System</title>

  <!-- Bootstrap core CSS -->
  <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Styles -->
  <link href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css" rel="stylesheet">
</head>

<body class="text-center">

  <!-- FORM SIGN IN -->
  <form class="form-signin" action="/auth" method="post">
    <img class="mb-4" src="https://i.ibb.co/D8Ngn7c/icon.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Sign in to PMS</h1>

    <!-- INPUT EMAIL ADDRESS -->
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="email" required
      autofocus>

    <!-- INPUT PASSWORD -->
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>

    <!-- FLASH ALERT -->
    <% if(info.length > 0) { %>
    <div class="alert alert-danger" role="alert">
      <%= info %>
    </div>
    <% } %>

    <!-- CHECKBOX REMEMBER ME -->
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>

    <!-- SIGN IN BUTTON -->
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
  </form>

</body>

</html>