        <!DOCTYPE html>

        <head>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <meta name="description" content="">
          <meta name="author" content="">
          <!-- Bootstrap core CSS -->
          <link
            href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css"
            rel="stylesheet">
          <!-- Custom styles for this template -->
          <link href="https://blackrockdigital.github.io/startbootstrap-simple-sidebar/css/simple-sidebar.css"
            rel="stylesheet">
        </head>

        <body>

          <div class="d-flex" id="wrapper">
            <!-- Sidebar -->
            <div class="bg-light border-right" id="sidebar-wrapper">
              <div class="sidebar-heading"> Project Menu </div>
              <div class="list-group list-group-flush">
                <a href="/projects/overview/<%= data[0].projectid %>"
                  class="list-group-item list-group-item-action bg-light"><i class="fa fa-list-alt"></i> Overview</a>
                <a href="/projects/activity/<%= data[0].projectid %>"
                  class="list-group-item list-group-item-action bg-light"><i class="fa fa-calendar"></i> Activity</a>
                <a href="/projects/members/<%= data[0].projectid %>"
                  class="list-group-item list-group-item-action bg-light"><i class="fa fa-users"></i> Members</a>
                <a href="/projects/issues/<%= data[0].projectid %>"
                  class="list-group-item list-group-item-action bg-light"><i class="fa fa-clipboard"></i> Issues</a>
              </div>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
              <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
                <button class="btn btn-primary btn-sm" id="menu-toggle"><i class="fa fa-chevron-left"></i> Menu</button>
              </nav>
              <div class="container">