<%- include("./partials/header.ejs", {active: "Project Detail"}) %>
<%- include("../overview_partials/header.ejs", {active: "Overview"}) %>


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Activity</h1>
</div>

<%- include("../overview_partials/footer.ejs") %>
<%- include("./partials/footer.ejs") %>